extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content

  #live.ui.vertical.feature.segment
    .ui.centered.page.grid
      .ten.wide.column
        iframe(width="100%", height="360", src="https://www.youtube.com/embed/hDIH7hEU5O8", frameborder="0", allowfullscreen)
      .six.wide.column
        pre.
          經歷了初賽以及複賽，電競大賽最終迎來了決賽!
          究竟誰能在這電競者的殿堂稱霸呢?
          一起來工程五館，見證這最後的決戰吧!
          3/26(六)
            星海爭霸 9:00~12:00 
            爐石戰記 13:00~17:00
          3/27(日)
            英雄聯盟-中路單挑大賽 9:00~11:00
            AVA 11:00~13:00
            英雄聯盟 14:00~20:00
          來現場全程觀看比賽就能得到二十小時的生活知能時數!
          除此之外，還能獲得抽獎的機會喔~
          現場除了各式各樣的小贈品，
          還提供總價值高達八萬元以上的獎品，
          有顯示卡、路由器、滑鼠、行動電源、軟體......
          
          賽事精華剪輯
          Day1:https://goo.gl/87aLPK
          Day2:https://goo.gl/Jl5Mog
          Day3~5:https://goo.gl/MlVpYR
          Day6~7:https://goo.gl/e9eAfN


  .ui.vertical.feature.segment
    .ui.centered.page.grid
      .three.wide.column
      .ten.wide.column
        .ui.statistics
          .ui.transition.hidden.red.statistic
            #lolTeamsCount.value(data-max=lolTeamsCount) 0
            .label 英雄聯盟隊伍
          .ui.transition.hidden.green.statistic
            #hsTeamsCount.value(data-max=hsTeamsCount) 0
            .label 爐石戰記隊伍
          .ui.transition.hidden.blue.statistic
            #sc2TeamsCount.value(data-max=sc2TeamsCount) 0
            .label 星海爭霸隊伍
          .ui.transition.hidden.yellow.statistic
            #avaTeamsCount.value(data-max=avaTeamsCount) 0
            .label A.V.A隊伍
          .ui.transition.hidden.orange.statistic
            #lolsTeamsCount.value(data-max=lolsTeamsCount) 0
            .label 中路單挑選手
          .ui.transition.hidden.statistic
            #userCount.value(data-max=userCount) 0
            .label 已註冊選手
      .three.wide.column
  .ui.vertical.feature.segment(style='min-height:300px;')
    .ui.centered.page.grid
      .fourteen.wide.column
        .ui.two.column.center.aligned.stackable.divided.grid
          .column
            h1.center
              i.announcement.icon
              | 重要公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_important
                  tr
                    td
                      a(href='/announcement/'+ann.id)= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()
          .column
            h1.center
              i.announcement.icon
              | 一般公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_normal
                  tr
                    td
                      a(href='/announcement/'+ann.id)= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()

  #sponsors.ui.vertical.feature.segment
    .sponsors.ui.centered.page.grid
      .two.wide.column
        h2.ui.left.aligned.header(style='color: #000;font-family: 微軟正黑體;') 
          | 贊助商：
          p(style='color: grey;font-family: 微軟正黑體;font-size: 6px;').
            (按英文字母排列)
      .fourteen.wide.column
        img(src='/img/logo/acronis.png', width='101')
        img(src='/img/logo/ahq.png', width='101')
        img(src='/img/logo/aoc.png', width='101')
        img(src='/img/logo/blizzard.png', width='101')
        img(src='/img/logo/buffalo.png', width='101')
        img(src='/img/logo/candypoppy.png', width='101')
        img(src='/img/logo/ecs.png', width='101')
        img(src='/img/logo/eg.png', width='101')
        img(src='/img/logo/esr.png', width='101')
        img(src='/img/logo/galax.png', width='101')
        img(src='/img/logo/Garena.png', width='101')
        img(src='/img/logo/nzxt.png', width='101')
        img(src='/img/logo/ocz.png', width='101')
        img(src='/img/logo/pcdiy.png', width='101')
        img(src='/img/logo/roccat.png', width='101')
        img(src='/img/logo/Sharkoon.png', width='101')
        img(src='/img/logo/team.png', width='101')
        img(src='/img/logo/tesoro.png', width='101')
        img(src='/img/logo/TP-LINK.png', width='101')
        img(src='/img/logo/Twitch.png', width='101')

block javascript
  script(src='/js/countUp.min.js')
  script(src='/js/index.js')
  #loading
    #loading-center
      #loading-center-absolute
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
    #live-btn.jiggle.transition
      a.ui.inverted.red.button(href="/live", style="width: 115px;")
        i.record.icon
        | Live
      br
      br
      a.item(href='https://www.facebook.com/NCUeSG/')(target='_blank')
        i.massive.facebook.square.icon
