extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content

  #live.ui.vertical.feature.segment
    .ui.centered.page.grid
      .ten.wide.column
        iframe(width="100%", height="340", src="https://www.youtube.com/embed/0ZEXOR-46-U", frameborder="0", allowfullscreen)
      .six.wide.column
        pre.
          歷經了一連串的廝殺，
          失敗者一個接著一個的離場，
          能在這殘酷的戰場存活下來的，
          都是不同凡響的菁英們 ...
          
          但，還沒有結束，
          為了這所謂「冠軍」的寶座，
          激烈的比拼依然持續進行著，
          不戰到個你死我活的地步，
          這些以勝利為食的挑戰者們，
          是不會輕易善罷甘休的 ...
          
          最後是誰，能奪下這「冠軍」的寶座？
          
          「第五屆中央電競大賽」決賽，
          4/11(六)、4/12(日)，答案揭曉！
      
  .ui.vertical.feature.segment
    .ui.centered.page.grid
      .four.wide.column
      .eight.wide.column
        .ui.statistics
          .ui.transition.hidden.red.statistic
            #lolTeamsCount.value(data-max=lolTeamsCount) 0
            .label 英雄聯盟隊伍
          .ui.transition.hidden.green.statistic
            #hsTeamsCount.value(data-max=hsTeamsCount) 0
            .label 爐石戰記隊伍
          .ui.transition.hidden.blue.statistic
            #sc2TeamsCount.value(data-max=sc2TeamsCount) 0
            .label 星海爭霸隊伍
          .ui.transition.hidden.yellow.statistic
            #avaTeamsCount.value(data-max=avaTeamsCount) 0
            .label A.V.A隊伍
          .ui.transition.hidden.statistic
            #userCount.value(data-max=userCount) 0
            .label 已註冊選手
      .four.wide.column
  .ui.vertical.feature.segment(style='min-height:300px;')
    .ui.centered.page.grid
      .fourteen.wide.column
        .ui.two.column.center.aligned.stackable.divided.grid
          .column
            h1.center
              i.announcement.icon
              | 重要公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_important
                  tr
                    td
                      a(href='/announcement/'+ann.id)= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()
          .column
            h1.center
              i.announcement.icon
              | 一般公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_normal
                  tr
                    td
                      a(href='/announcement/'+ann.id)= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()

block javascript
  script(src='/js/countUp.min.js')
  script(src='/js/index.js')
  #loading
    #loading-center
      #loading-center-absolute
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
        .object
    #live-btn.jiggle.transition
      a.ui.inverted.red.button(href="/live", style="width: 115px;")
        i.record.icon
        | Live
