extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.users.icon
      | 隊伍詳細資料
    a.ui.black.button(href='/team/') 隊伍列表
    a.ui.button(href='/team/dashboard/') 組隊系統
    .ui.segment
      h4.ui.header 隊伍頭像：
      if team.head != ""
        img#uploadPreview(style="width: 200px; height: 200px;", src="/uploads/"+team.head)
      else
        img#uploadPreview(style="width: 200px; height: 200px;", src='/uploads/defaultPortrait.png')
      h4.ui.header= "隊伍名稱：" + team.name
      h4.ui.header= "參賽遊戲：" + gameToName[team.game]
      h4.ui.header 隊伍簡介：
      p= team.intro
      h4.ui.header 隊長：
      a.ui.blue.horizontal.label(href='/user/'+team.leader.id)= team.leader.local.name
      if team.member.length > 0
        h4.ui.header 隊員：
        each mem in team.member
          a.ui.horizontal.label(href='/user/'+mem.id)= mem.local.name
      h4.ui.header 賽事：
      if team.competitions.length > 0
        table.ui.table
          thead
            tr
              th 甲隊
              th 乙隊
              th 對戰時間
              th 戰勝隊伍
              th 重播下載
              th 賽別
              th 檢視
          tbody
            each comp in team.competitions
              tr
                td= comp.team1.name
                td= comp.team2.name
                td= times[comp.time]
                td
                  case comp.winner
                    when -1
                      | 尚未完結
                    when 0
                      = comp.team1.name
                    when 1
                      = comp.team2.name
                td
                  if comp.replay_url != '無' && comp.replay_url.length > 0
                    a.ui.icon.button(href=comp.replay_url)
                      i.cloud.icon
                  else
                    | 無
                td
                  case comp.comp_type
                    when 0
                      | 預賽
                    when 1
                      | 複賽
                    when 2
                      | 決賽
                td
                  .ui.icon.buttons
                    a.ui.icon.button(href='/competition/'+comp.id)
                      i.list.layout.icon
      else
        | 無
