extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.users.icon
      | 隊伍列表
    .ui.top.attached.tabular.menu
      a.active.item(data-tab='lol') 英雄聯盟
      a.item(data-tab='hs') 爐石戰記：魔獸英雄傳
      //a.item(data-tab='sc2') 星海爭霸II：虛空之遺
      a.item(data-tab='ava') OverWatch 鬥陣特攻
      a.item(data-tab='lols') 英雄聯盟-中路單挑
    .ui.bottom.attached.active.tab.segment(data-tab='lol')
      table.ui.table
        thead
          tr
            th 隊伍名稱
            th 隊長
        tbody
          each team in lolTeams
            tr
              td
                i.users.icon
                a(href='/team/'+team.id)= team.name
              td
                a(href='/user/'+team.leader.id)= team.leader.local.name
    .ui.bottom.attached.tab.segment(data-tab='hs')
      table.ui.table
        thead
          tr
            th 隊伍名稱
            th 隊長
        tbody
          each team in hsTeams
            tr
              td
                i.users.icon
                a(href='/team/'+team.id)= team.name
              td
                a(href='/user/'+team.leader.id)= team.leader.local.name
    .ui.bottom.attached.tab.segment(data-tab='sc2')
      table.ui.table
        thead
          tr
            th 隊伍名稱
            th 隊長
        tbody
          each team in sc2Teams
            tr
              td
                i.users.icon
                a(href='/team/'+team.id)= team.name
              td
                a(href='/user/'+team.leader.id)= team.leader.local.name
    .ui.bottom.attached.tab.segment(data-tab='ava')
      table.ui.table
        thead
          tr
            th 隊伍名稱
            th 隊長
        tbody
          each team in avaTeams
            tr
              td
                i.users.icon
                a(href='/team/'+team.id)= team.name
              td
                a(href='/user/'+team.leader.id)= team.leader.local.name
    .ui.bottom.attached.tab.segment(data-tab='lols')
      table.ui.table
        thead
          tr
            th 隊伍名稱
            th 隊長
        tbody
          each team in lolsTeams
            tr
              td
                i.users.icon
                a(href='/team/'+team.id)= team.name
              td
                a(href='/user/'+team.leader.id)= team.leader.local.name

block javascript
  script(src='/js/tabs.js')
