extends layout

block stylesheet
  link(rel="stylesheet",type="text/css",href="/css/user.css")

block content
  .container
    h1.ui.center.aligned.header
      i.user.icon
      | 選手詳細資料
    a.ui.black.button(href='/user/') 選手列表
    .ui.segment
      h4.ui.header= "姓名：" + toshow.local.name
      h4.ui.header= "電子郵件：" + toshow.local.email
      h4.ui.header= "系所：" + departmentToName[toshow.local.department]
      h4.ui.header= "年級：" + gradeToName[toshow.local.grade]
      h4.ui.header 參加遊戲(隊名)：
      .ui.selection.animated.list
        each team in toshow.local.team
          if team
            a.item(href='/team/'+team.id)
              img.ui.icon.image(src='/img/icon/' + gameToImg[team.game])
              .content
                .header= team.name
      if user && user.local.level > 0 // >= 10
        h4.ui.header= "手機:" + toshow.local.phone
        h4.ui.header= "學號:" + toshow.local.studentid
